users:
  present:
    ## Minimal required pillar values
    auser:
      fullname: A User

    ## Full list of pillar values
    buser:
      fullname: B User
      password: $6$w.............
      enforce_password: True
      # WARNING: If 'empty_password' is set to True, the 'password' statement
      # will be ignored by enabling password-less login for the user.
      empty_password: False
      hash_password: False
      system: False
      home: /custom/buser
      homedir_owner: buser
      homedir_group: primarygroup
      user_dir_mode: 750
      createhome: True
      roomnumber: "A-1"
      workphone: "(555) 555-5555"
      homephone: "(555) 555-5551"
      expire: 16426
      sudo
        rules:
          - ALL=(root) /usr/bin/find
          - ALL=(otheruser) /usr/bin/script.sh
      shell: /bin/bash
      remove_groups: False
      group:
        name: primarygroup
        gid: 500
      groups:
        - users
      optional_groups:
        - some_groups_that_might
        - not_exist_on_all_minions
      ssh:
        keys:
          private: PRIVATEKEY
          public: PUBLICKEY
        auth:
          purge: True
          keys:
            - PUBLICKEY
        known_hosts:
          purge: True
          hosts:
            importanthost:
              fingerprint: 16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48
        config:
          all:
            hostname: "*"
            options:
              - "StrictHostKeyChecking no"
              - "UserKnownHostsFile=/dev/null"
          importanthost:
            hostname: "needcheck.example.com"
            options:
              - "StrictHostKeyChecking yes"
      uid: 1001

    ## Absent user
    cuser:
      absent: True
      purge: True
      force: True
      
  absent:
    - donald
    - bad_guy
