# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'users/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
  'Debian': {
    'sudoers_dir': '/etc/sudoers.d',
    'sudoers_file': '/etc/sudoers',
    'ssh_key_dir': '.ssh',
    'ssh_auth_conf_file': '.ssh/authorized_keys',
    'ssh_known_hosts_conf_file': '.ssh/known_hosts',
    'root_group': 'root',
    'shell': '/bin/bash',
    'visudo_shell': '/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
  },
  'Gentoo': {
    'sudoers_dir': '/etc/sudoers.d',
    'sudoers_file': '/etc/sudoers',
    'ssh_key_dir': '.ssh',
    'ssh_auth_conf_file': '.ssh/authorized_keys',
    'ssh_known_hosts_conf_file': '.ssh/known_hosts',
    'root_group': 'root',
    'shell': '/bin/bash',
    'visudo_shell': '/bin/bash',
    'bash_package': 'app-shells/bash',
    'sudo_package': 'app-admin/sudo',
  },
  'FreeBSD': {
    'sudoers_dir': '/usr/local/etc/sudoers.d',
    'sudoers_file': '/usr/local/etc/sudoers',
    'ssh_key_dir': '.ssh',
    'ssh_auth_conf_file': '.ssh/authorized_keys',
    'ssh_known_hosts_conf_file': '.ssh/known_hosts',
    'root_group': 'wheel',
    'shell': '/bin/csh',
    'visudo_shell': '/usr/local/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
  }
}
, grain="os_family"
, merge=salt['pillar.get']('users:lookup'), default='Debian') %}


{## Merge the flavor_map to the default settings ##}
{% do default_settings.users.update(os_family_map) %}

{## Merge in users:lookup pillar ##}
{% set users = salt['pillar.get'](
        'users',
        default=default_settings.users,
        merge=True
    )
%}
